/* Custom hacks */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url('/geekcollision-site/images/huckt.jpg');
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.container {
    background-color: #dbdfc8;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
}

.sidebar {
    box-shadow: 0.1em 0.1em 0.5em #111;
    -webkit-box-shadow: 0.1em 0.1em 0.5em #111;
    -moz-box-shadow: 0.1em 0.1em 0.5em #111;
    background-color: #bfc2ae;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 0.5em;
    padding: 0.5em;
}

.right.sidebar {
    padding-bottom: 2em;
    border-radius: 1em 4em 1em 4em;
    -webkit-border-radius: 1em 4em 1em 4em;
    -moz-border-radius: 1em 4em 1em 4em;
}

.left.sidebar {
    border-radius: 4em 1em 1em 4em;
    -webkit-border-radius: 4em 1em 1em 4em;
    -moz-border-radius: 4em 1em 1em 4em;
}

#logo {
    background-image: url('/geekcollision-site/images/logo.png');
    background-repeat: no-repeat;
    background-position: left;
    width: 70px;
    height: 70px;
    margin: 0.5em;
    margin-left: 1em;
}

hr {
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    border: 0;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#news .author, #tweets .author {
    margin-left: 1em;
}

#news dt, #tweets dt {
    margin-top: 0.5em;
}

#atom {
    background-image: url('/geekcollision-site/images/rss.png');
    background-repeat: no-repeat;
    background-position: left;
    width: 48px;
    height: 48px;
    float: right;
    margin: 1em;
}

